html, body {
  height: 100%;
  margin:0;

}

body {
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;

}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.game-page {
  display: flex;
  flex-direction: row;
  height: calc(100% - 50px);
  width: 100%;
}

/*section containing all of the sidebar information*/
aside {
  color: white;
  background-color: black;
  height: 100%;
  margin-bottom:0;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
  text-align: center;
}

aside h2 {
  font-size: 5rem;
  margin: 20px 0;
}

main {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

/* section containing cards during gameplay */
.card-view {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  grid-template-rows: 317px 275px;
  padding-top: 2%;
  padding-left: 5%;
  perspective: 600px;
}

/* class defining layout of each individual card used in gameplay */
.individ-card {
  border: 4px solid black;
  /* background-color: white; */
  height: 100px;
  display: inline-block;
  width: 150px;
  height: 220px;
  margin: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  box-shadow: 4px 6px 5px 0px rgba(179,175,179,1);
  align-self: center;
  justify-self: center;
  align-content: space-between;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.individ-card * {
  pointer-events: none;
}

.individ-card:hover {
  cursor: pointer;
}

.individ-card:hover .card-front {
  background-color: black;
  color: white;
  border: 4px solid white;
}
/* .individ-card:nth-child(1) {
  transform: rotate(25deg);
}

.individ-card:nth-child(2) {
  transform: rotate(25deg);
}

.individ-card:nth-child(3) {
  transform: rotate(-30deg);
}

.individ-card:nth-child(4) {
  transform: rotate(10deg);
}

.individ-card:nth-child(5) {
  transform: rotate(5deg);
}
.individ-card:nth-child(6) {
  transform: rotate(40deg);
}

.individ-card:nth-child(7) {
  transform: rotate(-20deg);
}

.individ-card:nth-child(8) {
  transform: rotate(45deg);
}

.individ-card:nth-child(9) {
  transform: rotate(50deg);
}

.individ-card:nth-child(10) {
  transform: rotate(60deg);
} */

.individ-card * {
  pointer-events: none;
}

.is-flipped {
  transform: rotateY(180deg);
}

.cardface {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* .card-front:hover {

} */

.card-back {
  transform: rotateY(180deg);
  background-color: transparent;
}


.matches {
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  margin: 40px auto 0;
}

.matched-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mini-card {
  background-color: grey;
  height: 70px;
  width: 50px;
  margin: 10px;
}

.scores {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.scores:first-of-type(p){
  margin-top: 10%;
}

.congratulations-page {
  background-image: url(assets/bey-background-option.jpg);
  /* opacity: 10%; */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: repeat(1, 660px);
  grid-template-rows: 200px 100px 100px 150px;
  justify-content: center;
  text-align: center;
}

.congrats {
  font-size: 60px;
}

.play-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:100px;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  width: 60%;
  height: 50px;
  font-size: 20px;
  border-style: none;
  margin: 0 30px;
}

h3 {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-size: 75px;
  text-align: center;
}

.hidden {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
